:root {
  --color-bg: #111b32;
  --color-text: #ffffff;
  --color-blue: #3b49df;
  --color-red: #df3b3b;
  --color-green: #3bdf72;
  --color-gray: #b5bdc4;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  margin-top: 50px;
}

.App {
  text-align: center;
  color: #fff;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
